a{
    text-decoration: none;
    text-align: right;
    margin-right: 45px;
    
}

nav{
    font-size: 12px;
    text-align: right;
    padding-right: 23px;
    
   
}


footer{
    text-align: center;
    font-family: helvticsa;
    font font-size:12px;
    text-decoration: none;
    
}


p{
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
     
}

h2{
    font-family: 13px;
    text-align: center;
    
}


// <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name

.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

video{
    
}